.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #F8F8F8;
  }
  
  .card {
    padding: 2rem;
    background: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .logo {
    width: 80px;
    height: 80px;
    margin-bottom: 1.5rem;
  }
  
  .title {
    color: #333333;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 1.5rem;
  }
  
  .form-input {
    width: 100%;
    margin-bottom: 1rem;
  }
  
  .btn-container {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
  }
  
  .cancel-btn {
    color: red;
  }
  
  .snackbar {
    width: 100%;
  }
  
  